*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.recruiter,
.community,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.candidate {
  /* background-image: url('../candidate_main_img.jpeg'); */
  background-image:  linear-gradient(to bottom right, rgb(28, 27, 27) 0%, rgb(181, 135, 135) 100%);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.recruiter {
  background-image:  linear-gradient(to bottom right, rgb(28, 27, 27) 0%, rgb(181, 135, 135) 100%);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.community {
  background-image:  linear-gradient(to bottom right, rgb(28, 27, 27) 0%, rgb(181, 135, 135) 100%);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.sign-up {
  background-image:  linear-gradient(to bottom right, rgb(28, 27, 27) 0%, rgb(181, 135, 135) 100%);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}